#logo1{
    float: left;
    display: inline-block;
    width: 10%;
    margin: 2%;
}
#textotitulo{
    display: inline-block;
    width: 40%;
    text-align: center;
    border: double;
    border-radius: 60px;
    border-style: dotted;
}
#mapa{
    float: right;
    width: 50%;
}
body{
    background-color: #b6e3e9;
    padding: 10px;
}
p{
    text-align: justify;
    width: 40%;
    
}
#marco{
    width: 100%;
    padding: 8px;
    height: 300px;
    border: double cadetblue;
}