#textotitulo{
    display: inline-block;
    width: 100%;
    text-align: center;
    border: double;
    border-radius: 60px;
    border-style: dotted;
}
.fotos{
    float: center;
    width: 1010px;
    border: double;
}
.indice{
    font-size: 30px;
}
p{
    font-size: 20px
}
a{
    color:#4f766f;
    border: double;
    width: 100%;
    background-color: whitesmoke;
}
body{
    background-color: #b6e3e9;
}